$color_1: #FFFFFF;
$color_2: #FF5A2C;
$color_3: #E0E0E0;
$color_4: #3F384D;
$color_5: #ffffff;
$color_6: #999;
$color_7: inherit;
$color_8: #8f9296;
$color_9: #655C77;
$color_10: #92999f;
$font-family_1: 'Poppins', sans-serif;
$background-color_1: #1B1726;
$background-color_2: #FF5A2C;
$background-color_3: #2A223A;
$background-color_4: #3f3456;
$background-color_5: #251E34;
$background-color_6: #1D1829;